<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="display12" method="post">
    <table>
        <tr>
            <th>BOOK_ID</th>
            <th>BOOK_NAME</th>
            <th>BOOK_AUTHUR</th>
            <th>BOOK_PRICE</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.bookid}}</td>
            <td>{{i.bookname}}</td>
            <td>{{i.bookauthur}}</td>
            <td>{{i.bookprice}}</td>
            <td><input type="submit" value="DELETE"></td>
        </tr>
        {% endfor %}
    </table>
</form>

</body>
</html>