<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="display3" method="post">
    {% csrf_token %}
    <center><b>REGISTER DETAILS</b></center><br><br>
    NAME:
    <input type="text" name="b1" placeholder="Name"><br><br>
    AGE:
    <input type="text" name="b2" placeholder="Age"><br><br>
    USERNAME:
    <input type="text" name="b3" placeholder="Username"><br><br>
    PASSWORD:
    <input type="text" name="b4" placeholder="Password"><br><br>
    <input type="submit" value="OK">
</form>

</body>
</html>